{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "astroAllowShorthand": false
      }
    },
    {
      "files": ["*.json", "*.md"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "arrowParens": "always"
      }
    }
  ]
}
