---
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
import '../styles/global.css';
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="/main.js" is:inline></script>
  </head>
  <body class="font-sans text-gray-800 bg-white">
    <header class="sticky top-0 z-50 bg-white shadow-md">
    <Navbar />
    </header>

    <slot />

  <Footer />

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  </body>
</html>